:root {
  --theme-backgroud: #ffffff;
  --theme-on-background: #000000;

  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: 'Gilroy', var(--font-sans-serif);
  --font-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-backgroud: #000000;
    --theme-on-background: #ffffff;
  }
}

body {
  font-family: var(--font-sans-serif);
  margin: auto;
  max-width: 1280px;
  background-color: var(--theme-backgroud);
  color: var(--theme-on-background);
}

.contact-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 1;
  transition: transform .5s;
  box-sizing: border-box;
}

.name {
  font-family: var(--font-display);
  font-weight: 800;
  font-style: italic;
  font-size: 42px;
  margin: 7.5px 0;
}

.contacts a {
  display: inline-block;
  text-decoration: none;
  font-family: var(--font-monospace);
  font-style: normal;
  color: var(--theme-on-background);
  padding: 5px;
}

.contacts .email {
  background-color: #F44336;
  color: white;
}

.social {
  margin-top: 10px;
}
