body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.contact-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(255,255,255,.9);
  width: 100%;
  z-index: 1;
  transition: transform .5s;
}

.name {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: italic;
  font-size: 42px;
  margin: 7.5px 0;
}

.contacts a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  color: black;
  padding: 5px;
}

.contacts .email {
  background-color: #F44336;
  color: white;
}

.social {
  margin-top: 10px;
}
