@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
    url('Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}